#searchbar{
    width: 90%;
    display: flex; 
    justify-content: space-evenly;
}
#search{
    width: 70%;
    border-radius: 20px;
    border: 1px solid ;
    font-size: 200%;
    text-align: center;
}
#search:focus{
    outline: none;
}
#all{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 40px;
    row-gap: 30px;
    margin-top: 50px;
}
#searched{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 40px;
    row-gap: 30px;
    margin-top: 50px;
}
#cartdiv{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 40px;
    row-gap: 30px;
    margin-top: 50px;
}
.alldivs{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    padding-bottom: 20px;
}
@media only screen and (max-width: 992px){
    #all{
        grid-template-columns: auto auto !important;
    }
    #searched{
        grid-template-columns: auto auto !important;
    }
    #cartdiv{
        grid-template-columns: auto auto !important ;
    }

}
@media only screen and (max-width: 500px){
    #all{
        grid-template-columns: auto !important ;
    }
    #searched{
        grid-template-columns: auto !important;
    }
    #cartdiv{
        grid-template-columns: auto !important;
    }

}
#searched{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 40px;
    row-gap: 30px;
    margin-top: 50px;
}
#cartdiv{
    
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 40px;
        row-gap: 30px;
        margin-top: 50px;
    
}
.alldivs1{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
   
}
