*{
    box-sizing: border-box;
}
#logo{
    cursor: pointer;
}
#navbar{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    


}
#navdiv{
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;

}
#button2{
    height: 40px;
    border-radius: 5px; 
    box-shadow:  0px 0px 6px #ffb30e; 
    color: #FFB800; 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;  
    border: none; 
    background: none; 
    margin-right: 10px; 
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px
}
#button1{
    height: 40px; 
    border: none; 
    background: none;
    border-radius: 5px;
    color: #424242;
    font-size: 15px;
    width: 80%;
    
}
#navsearchdiv{
    width:50% ;
    display: flex;
    align-items: center;
    height: 40px;
    
    
}
#deldiv{
    border-radius: 5px;
    background-color: #f1722843;
    color: #F17228;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    
    

}
#pickupdiv{
    
    border-radius: 5px;
    background-color: white;
    color: #757575;
    
    
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;

}

#searchDiv{
    display: flex;
     width: 70%;
    background-color: #f5f5f5;
    height: 50px;
    align-items: center;
    border-radius: 5px;
}

#searchDiv input{
    outline: none; 
    background-color: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
}
#searchmaindiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}
#findfood{
    border: none;
    border-radius: 5px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, #FF7A7A , #F65900);
    
}
#headerdiv{
    width: 90%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}
#header{
    width: 100%;
    height: auto;
    background-color: rgba(255,202,11,255);
    display: flex;
    padding-top: 100px;
    
}

#maindeliverydiv{
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}
#text1{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 80px;
margin-bottom: 20px;
color: white;
}
#text2{
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 120%;
margin-bottom: 30px;
}
#deliveryclassdiv{
    margin-top: -55px;

}

#button1:focus{
    outline: none;
}
#button2:hover{
    background-color: #F17228;
    
    
}
#icon1{
    color: #ffb30e;
    padding-left: 5px;
}
#findfood:hover i{
    color:   #F65900 !important ;
    
}
#findfood:hover b{
    color: #F65900 !important;
}
#findfood:hover{
    background-image:none;
    background-color: white;
    box-shadow: 0px 0px 5px #F65900;

}
#pickupdiv:hover{
    background-color: white;
    box-shadow: 0px 0px 5px #F17228;
    color: #F17228;
}
#pickupdiv:hover i{
    color:#F17228 ;
}
.remaining{
    color: #424242; 
    font-weight: 700;
    font-size: 22px; 
    border-radius: 5px;
    background-color: #f1722856; 
    color: #F17228;
    display: flex;
    justify-content: center;
}
.name1{
    color: #424242;
    font-weight: 700;
    font-size: 22px;
    display: flex;
    align-items: center;
}
#fooddiv1{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-top: 30px;
    margin-right: 50px;
    width: 100%;
    
    
    
}
#fooddiv2{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-top: 30px;
    margin-right: 50px;
    width: 100%;
    
    
    
}
#fooddiv3{
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-top: 30px;
    margin-right: 50px;
    width: 100%;
    
    
}
#fooddiv4{
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-top: 30px;
    margin-right: 50px;
    width: 100%;
    
    
}
.nameandremaining{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.saleoff{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    justify-content: center;
    align-items: center;

}
.sale{
    display: flex;
    
    background-color: #FFB30E ;
    justify-content: center;
    width: 30%;
    min-width: 90px;
    position: absolute;   
    bottom: 0;
    left: 0; 
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}
    
.image1{
    background-image: url(Image1.png);
    height: 320px;
    background-size: cover ;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    
    
}
#food{
    display: grid;
    width: 90%;
    column-gap: 40px;
    
    margin-left: auto;
    margin-right: auto;
    
}
.workicons{
    width: 100%;
    height: 250px;
}
.worktext1{
    

font-weight: 700;
font-size: 22px;

text-align: center;



color: #434343;
}
.worktext2{
    
font-weight: 400;
font-size: 18px;


text-align: center;



color: #9E9E9E;
}
#howdoesitwork{
    display: grid;
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background: fixed;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    justify-content: center;
    
}
#backgrounddiv{
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
}
#workheader{
    font-style: normal;
font-weight: 700;
font-size: 43px;
line-height: 112%;
/* or 48px */

text-align: center;

color: #F17228;
/* margin-top:  */
}
#workdiv1{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-top: 30px;
    margin-right: 50px;
    width: 100%;
    max-width: 350px;
}
#workdiv2{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-top: 30px;
    margin-right: 50px;
    width: 100%;
    max-width: 350px;
}
#workdiv3{
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-top: 30px;
    margin-right: 50px;
    width: 100%;
    max-width: 350px;
}
#workdiv4{
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-top: 30px;
    margin-right: 50px;
    width: 100%;
    max-width: 350px;
    
}
#popularheader{
    font-style: normal;
font-weight: 700;
font-size: 43px;
line-height: 112%;
/* or 48px */

text-align: center;
margin-top: 20px;

/* Theme/Gray 900 */

color: #212121;
}
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}
@media only screen and (max-width: 992px) {
    #ramani{
        display: none;
    }
    #headerdiv{
        width: 100%
    }
    #header{
        height: 500px;
    }
    #deliveryclassdiv{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 250px;
        
       
        
        
        
    }
    #findfood{
        padding-top: 5px;
        padding-bottom: 5px;
        width: auto;
    }
    #searchmaindiv{
        width: 100%;
        align-items: center;
    }
    #search{
        width: 90%;
    }
    #searchDiv{
        width: 90%;
        margin-bottom: 10px;
    }
    #searchmaindiv{
        justify-content: center;
    }
    #text1{
        margin-top: 100px;
        font-size: 70px;
    }
    #deldiv{
        width: 100%;
        margin-left: 40px;
    }
    #pickupdiv{
        margin-left: 40px;
    }
    #sale p{
        font-size: 20px !important;
    }
    #fooddiv1{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #fooddiv2{
        grid-column-start: 3;
        grid-column-end: 5;
    }
    #fooddiv3{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #fooddiv4{
        grid-column-start: 3;
        grid-column-end: 5;
    }
    #workdiv1{
        grid-column-start: 1;
        grid-column-end: 3;       
    }
    #workdiv2{
        grid-column-start: 3;
        grid-column-end: 5;       
    }
    #workdiv3{
        grid-column-start: 1;
        grid-column-end: 3;       
    }
    #workdiv4{
        grid-column-start: 3;
        grid-column-end: 5;       
    }
}
@media only screen and (max-width: 768px){
    #header{
        height: 530px;
        
        
    }
    #food{
        justify-content: center;
    }
    #text1{
        font-size: 40px;
        margin-top: 150px;
        
    }
    #text2{
        font-size: 20px;
    }
    #sale p{
        font-size: 30px !important;
    }
    #fooddiv1{
        grid-column-start: 1;
        grid-column-end: 8;
        
        
        
    }
    #fooddiv2{
        grid-column-start: 1;
        grid-column-end: 8;
        
        
    }
    #fooddiv3{
        grid-column-start: 1;
        grid-column-end: 8;
        
        
    }
    #fooddiv4{
        grid-column-start: 1;
        grid-column-end: 8;
        
    }
    #workdiv1{
        grid-column-start: 2;
        grid-column-end: 4;       
    }
    #workdiv2{
        grid-column-start: 2;
        grid-column-end: 4;       
    }
    #workdiv3{
        grid-column-start: 2;
        grid-column-end: 4;       
    }
    #workdiv4{
        grid-column-start: 2;
        grid-column-end: 4;       
    }
}
@media only screen and (max-width: 1300px){
    .image1{
        height: 250px;
    }
}